<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sing Up</mat-card-title>
    <mat-card-subtitle>Fill all fields</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <ng-container formGroupName="account">
        <h3>Account</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com">
          <mat-error *ngIf="form.get('account.email').hasError('email')">
            Email is invalid
          </mat-error>
          <mat-error *ngIf="form.get('account.email').hasError('required') && form.get('account.email').touched">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="text"
            matInput
            formControlName="password"
            placeholder="password">
          <mat-error *ngIf="form.get('account.password').hasError('required') && form.get('account.password').touched">
            Password is required
          </mat-error>
          <mat-error *ngIf="form.get('account.password').hasError('minlength') && form.get('account.password').touched">
            Password has to be more than 6 symbols
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>confirmPassword</mat-label>
          <input
            type="text"
            matInput
            formControlName="confirmPassword"
            placeholder="confirm password">
          <mat-error *ngIf="form.get('account.password').touched && form.get('account.confirmPassword').touched && form.hasError('notSame')">
            Passwords isn't <strong>the same</strong>
          </mat-error>
        </mat-form-field><br>
      </ng-container> <br>
      <ng-container formGroupName="profile">
        <h3>Profile</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="name">
        </mat-form-field> <br>
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input
            type="text"
            matInput
            formControlName="phone"
            placeholder="phone"
            mask="+ (000) 000 000000">
          <mat-error *ngIf="form.get('profile.phone').hasError('required') && form.get('profile.phone').touched">
            phone is required
          </mat-error>
        </mat-form-field> <br>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            type="text"
            matInput
            formControlName="city"
            placeholder="city">
        </mat-form-field>
        <br>
      </ng-container> <br>
      <ng-container formGroupName="company">
        <h3>Company</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="name">
          <mat-error *ngIf="form.get('company.TIN').hasError('minlength') && form.get('company.TIN').touched">
            TIN has to be more than 9 symbols
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Ownership</mat-label>
          <mat-select matNativeControl formControlName="ownership">
            <mat-option value="" selected></mat-option>
            <mat-option value="IP">{{CompanyTypes.IP}}</mat-option>
            <mat-option value="LLC">{{CompanyTypes.LLC}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>TIN</mat-label>
          <input
            type="text"
            matInput
            formControlName="TIN"
            placeholder="TIN">
          <mat-error *ngIf="form.get('company.TIN').hasError('minlength') && form.get('company.TIN').touched">
            TIN has to be more than 9 symbols
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Checkpoint</mat-label>
          <input
            type="text"
            matInput
            formControlName="checkpoint"
            placeholder="checkpoint">
          <mat-error *ngIf="form.get('company.checkpoint').hasError('minlength') && form.get('company.checkpoint').touched">
            TIN has to be more than 9 symbols
          </mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>OKPO</mat-label>
          <input
            type="text"
            matInput
            formControlName="OKPO"
            placeholder="OKPO">
          <mat-error *ngIf="form.get('company.OKPO').hasError('minlength') && form.get('company.OKPO').touched">
            TIN has to be more than 9 symbols
          </mat-error>
        </mat-form-field><br>
        <br>
      </ng-container> <br>

      <ng-container formArrayName="contacts">
        <h3>Contacts</h3>

        <div *ngFor="let contact of getControls(); let i = index;" [formGroupName]="i">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              placeholder="name">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input
              type="text"
              matInput
              formControlName="title"
              placeholder="title">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input
              type="text"
              matInput
              formControlName="phone"
              placeholder="phone"
              mask="+ (000) 000 000000">
            <mat-error *ngIf="form.get('contacts.' + i + '.phone').hasError('required') && form.get('contacts.' + i + '.phone').touched">
              Phone is required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-stroked-button  (click)="addContacts()">Add contact</button><br>
      </ng-container> <br>


      <button mat-raised-button color="primary"(click)="submit()">Registration</button><br>

      <ng-container>
        <h3>Profile Date</h3><mat-list>
        <mat-list-item> Name </mat-list-item>
        <mat-list-item> {{form.get('profile.name').value}} </mat-list-item>
        <mat-list-item> Phone </mat-list-item>
        <mat-list-item> {{form.get('profile.phone').value}} </mat-list-item>
        <mat-list-item> City </mat-list-item>
        <mat-list-item> {{form.get('profile.city').value}} </mat-list-item>
      </mat-list>
      </ng-container> <br>

    </form>
  </mat-card-content>

</mat-card>


<pre>{{form.value | json }}</pre>
<pre>{{form.errors | json }}</pre>
